// media queries breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


$header-height: 50px;
$bg-light: #F8F9FA;
$bg-header: #2F2F2F;
$bg-white: #FFFFFF;
$border-color: #ccc;
$white: #fff;
$healthy-color: #2196f3;
$infected-color: #ffc107;
$recovered-color: #4caf50;
$dead-color: #f44336;

$radius: 6px;