// media queries breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$bg-light: #F8F9FA;
$bg-header: #2F2F2F;
$bg-white: #FFFFFF;
$border-color: #ccc;
$white: #fff;

$radius: 6px;