@import '../../sass/variables';
@import '../../sass/mixins';


.edit__title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.edit__buttons {
    display: flex;
    justify-content: space-between;
}

.edit__sheet {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.edit__form {
    width: 100%;
}

.edit__input {
    margin: 10px 1px;
}

.edit__people,
.edit__days {
    @include mq(lg) {
        display: flex;
    }
}