@import '../../sass/variables';
@import '../../sass/mixins';

main {
    position: relative;
    min-height: calc(100vh - $header-height);
    padding: 10px 15px;

    @include mq(xl) {
        height: calc(100vh - $header-height);
    }
}